.custom-rasa-widget-container {
  .rasa-list-widget {
    @include defaultBoxStyle;
    position: relative;

    &.no-padding {
      padding: 0px;
    }

    &.no-bg {
      background: transparent;
      box-shadow: none;
    }

    .buttons {
      &.buttons-align-center {
        display: flex;
        justify-content: center;
      }
      .button-container {
        display: flex;
        gap: 20px;
        .rasa-button {
          &.rasa-button-image {
            width: 81px;
            height: 38px;
            min-width: auto;
          }
          &.rasa-button-yellow {
            @include yellowButton;
          }
          &.rasa-button-blue {
            @include blueButton;
          }
          &.rasa-button-green {
            @include greenButton;
          }
          img {
            height: 29px;
            width: auto;
            max-width: 100%;
          }
        }
      }

      &.buttons-size-small {
        .button-container {
          gap: 10px;
          flex-wrap: wrap;
          .rasa-button {
            padding: 5px 15px;
            min-width: auto;
            margin-bottom: 0px;
            margin-top: 37px;
          }
        }
      }
    }

    .products {
      .product-container {
        width: 237.48px;
        background: #ffffff;
        border-radius: 6px;
        display: flex;
        padding: 6.5px;
        margin-bottom: 16px;
        // align-items: center;
        gap: 13.5px;
        .img {
          width: 49.7px;
          display: flex;
          align-items: center;
          img {
            border-radius: 7.5px;
            filter: drop-shadow(-12px 0px 14px rgba(0, 0, 0, 0.2));
            width: 100%;
            height: auto;
          }
        }
        .content {
          text-align: left;
          color: var(--rasa-black);
          .title {
            font-weight: 500;
            font-size: 11px;
            line-height: 17px;
            margin-bottom: 4px;
          }
          .desc {
            font-weight: normal;
            font-size: 7px;
            line-height: 11px;
            margin-bottom: 4px;
          }
          .unit {
            font-weight: 500;
            font-size: 9px;
            line-height: 14px;
          }
        }
        .unit-selector {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          padding-right: 12.5px;
          .unit-container {
            display: flex;
            .minus,
            .plus {
              background: #1471f1;
              border-radius: 1px;
              color: #fff;
              cursor: pointer;
              font-size: 9px;
              line-height: 0;
            }
            .minus,
            .plus,
            .value {
              min-width: 11.5px;
              height: 13.03px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .value {
              background: #f0f0f0;
              border-radius: 1px;
              font-weight: 500;
              font-size: 8px;
              line-height: 12px;
              color: #000000;
              padding: 0px 2px;
              min-width: 9.5px;
            }
          }
        }
      }
    }

    .products-slider {
      padding: 5px 20px 25px;
      .product-data-container {
        width: 200px !important;
        padding: 0px 5px;
        .product-data {
          width: 100%;
          background: #ffffff;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          overflow: hidden;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
          color: var(--rasa-black);
          text-align: left;
          .content {
            padding: 0px 10px 10px;
            .title {
              font-weight: 500;
              font-size: 15px;
              line-height: 17px;
              margin-bottom: 4px;
            }
            .desc {
              font-weight: 500;
              font-size: 15px;
              line-height: 17px;
              margin-bottom: 4px;
              opacity: 0.8;
            }
            .product-buttons-container {
              margin-top: 10px;
              .button-container {
                flex-direction: column;
                gap: 12.5px;
                button {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }

    .order-status {
      padding-top: 26px;
      padding-top: 19px;
      padding-left: 10px;
      padding-right: 10px;
      width: 245px;
      .bar-container {
        padding-right: 14px;
        .title-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          .title {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            color: var(--rasa-white);
          }
          .icon-down {
            transform: rotate(180deg);
          }
        }

        .bars {
          display: flex;
          justify-content: space-between;
          margin-top: 9px;
          align-items: center;
          position: relative;
          .bar {
            flex: 1;
            text-align: center;
            flex-direction: column;
            display: flex;
            align-items: center;
            &:first-of-type {
              align-items: flex-start;
            }
            &:last-of-type {
              align-items: flex-end;
            }

            position: relative;
            .bar-bullet {
              width: 8.52px;
              height: 8.52px;
              background: #fcfcfc;
              border-radius: 50%;
              z-index: 1;
            }
            .bar-line {
              width: 100%;
              position: absolute;
              top: 2.5px;
              left: 0px;
              height: 3.15px;
              background: var(--rasa-white);
            }
            .bar-title {
              font-family: var(--font-family);
              font-style: normal;
              font-weight: 500;
              font-size: 6px;
              color: var(--rasa-white);
            }

            &.bar-done {
              .bar-line {
                background: #01a0dc;
              }
            }
          }
        }
      }

      .body-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .status-title-container {
          display: flex;
          align-items: flex-end;
          .status-title {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: var(--rasa-lighter-white);
          }
          .status-desc {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: normal;
            font-size: 6px;
            margin-left: 10px;
            color: var(--rasa-white);
          }
        }
        .body-list-container {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding-left: 10px;
          .list-container {
            text-align: left;
            .body-title {
              font-family: var(--font-family);
              font-style: normal;
              font-weight: 500;
              font-size: 11px;
              color: var(--rasa-white);
              margin-bottom: 5px;
            }
            .body-desc {
              font-family: var(--font-family);
              font-style: normal;
              font-weight: normal;
              font-size: 8px;
              color: var(--rasa-white);
            }
          }
        }
      }
    }

    .article {
      width: 271px;
      overflow: hidden;
      border-radius: 7.5px;
      .img-container {
        position: relative;
        .img {
          width: 100%;
        }
        .file-type {
          position: absolute;
          top: 10px;
          right: 5px;
        }
      }
      .desc-container {
        padding: 11px 23px;
        span {
          display: inline-block;
          font-family: var(--font-family);
          font-style: normal;
          font-weight: normal;
          font-size: 8px;
          line-height: 14px;
          color: var(--rasa-white);
          text-align: left;
        }
        .read-more {
          font-family: var(--font-family);
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 14px;
          color: var(--rasa-white);
          text-transform: uppercase;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .video {
      width: 271px;
      overflow: hidden;
      border-radius: 7.5px;
      @include customChatBox;
      .img-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
          width: 100%;
        }
        video {
          width: 100%;
        }
        .play {
          position: absolute;
          cursor: pointer;
        }
      }
      .desc-container {
        padding: 11px 23px;
        span {
          display: inline-block;
          font-family: var(--font-family);
          font-style: normal;
          font-weight: normal;
          font-size: 8px;
          line-height: 14px;
          color: var(--rasa-white);
          text-align: left;
        }
        .read-more {
          font-family: var(--font-family);
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 14px;
          color: var(--rasa-white);
          text-transform: uppercase;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
