.custom-rasa-widget-container {
  .rasa-list-widget {
    @include defaultBoxStyle;
    .buttons {
      &.buttons-align-center {
        display: flex;
        justify-content: center;
      }
      .button-container {
        display: flex;
        gap: 20px;
        .rasa-button {
          &.rasa-button-image {
            width: 81px;
            height: 38px;
            min-width: auto;
          }
          &.rasa-button-yellow {
            @include yellowButton;
          }
          img {
            height: 29px;
            width: auto;
            max-width: 100%;
          }
        }
      }
    }

    .products {
      .product-container {
        width: 237.48px;
        background: #ffffff;
        border-radius: 6px;
        display: flex;
        padding: 6.5px;
        margin-bottom: 16px;
        // align-items: center;
        gap: 13.5px;
        .img {
          width: 49.7px;
          display: flex;
          align-items: center;
          img {
            border-radius: 7.5px;
            filter: drop-shadow(-12px 0px 14px rgba(0, 0, 0, 0.2));
            width: 100%;
            height: auto;
          }
        }
        .content {
          text-align: left;
          color: var(--rasa-black);
          .title {
            font-weight: 500;
            font-size: 11px;
            line-height: 17px;
            margin-bottom: 4px;
          }
          .desc {
            font-weight: normal;
            font-size: 7px;
            line-height: 11px;
            margin-bottom: 4px;
          }
          .unit {
            font-weight: 500;
            font-size: 9px;
            line-height: 14px;
          }
        }
        .unit-selector {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          padding-right: 12.5px;
          .unit-container {
            display: flex;
            .minus,
            .plus {
              background: #1471f1;
              border-radius: 1px;
              color: #fff;
              cursor: pointer;
              font-size: 9px;
              line-height: 0;
            }
            .minus,
            .plus,
            .value {
              min-width: 11.5px;
              height: 13.03px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .value {
              background: #f0f0f0;
              border-radius: 1px;
              font-weight: 500;
              font-size: 8px;
              line-height: 12px;
              color: #000000;
              padding: 0px 2px;
              min-width: 9.5px;
            }
          }
        }
      }
    }

    .order-status {
      padding-top: 26px;
      padding-top: 19px;
      padding-left: 15px;
      padding-right: 29px;
      width: 214px;
      .bar-container {
        .title-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          .title {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            color: var(--rasa-white);
          }
          .icon-down {
            transform: rotate(180deg);
          }
        }

        .bars {
          display: flex;
          justify-content: space-between;
          margin-top: 9px;
          align-items: center;
          position: relative;
          .bar {
            flex: 1;
            text-align: center;
            flex-direction: column;
            display: flex;
            align-items: center;
            &:first-of-type {
              align-items: flex-start;
            }
            &:last-of-type {
              align-items: flex-end;
            }

            position: relative;
            .bar-bullet {
              width: 8.52px;
              height: 8.52px;
              background: #fcfcfc;
              border-radius: 50%;
              z-index: 1;
            }
            .bar-line {
              width: 100%;
              position: absolute;
              top: 2.5px;
              left: 0px;
              height: 3.15px;
              background: var(--rasa-white);
            }
            .bar-title {
              font-family: var(--font-family);
              font-style: normal;
              font-weight: 500;
              font-size: 6px;
              color: var(--rasa-white);
            }

            &.bar-done {
              .bar-line {
                background: #01a0dc;
              }
            }
          }
        }
      }
    }
  }
}
