.custom-rasa-widget-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .rasa-map-widget {
    @include defaultBoxStyle;
    background: transparent;
    padding: 0px;
    box-shadow: none;

    .map-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: transparent;
      .map {
        position: relative;
        width: 290px;
        height: 292.93px;
        background: transparent;
        box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        padding: 0px;
        .google-map-container {
          width: 100%;
          height: 100%;
          .gm-fullscreen-control,
          .gmnoscreen,
          .gmnoprint {
            display: none !important;
          }
          overflow: hidden;
          border-radius: 10px;
        }
      }

      .place {
        background: var(--rasa-green);
        width: 250px;
        display: flex;
        margin-top: 20px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 9px;
        gap: 10px;
        font-family: var(--font-family);
        img {
          width: 80px;
          border-radius: 5px;
        }
        .place-title,
        .place-subtitle,
        .address-title,
        .address {
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 17px;
          color: #fcfcfc;
        }
        .place-subtitle,
        .address-title {
          font-size: 9px;
          line-height: 14px;
        }
        .address {
          font-size: 10px;
          line-height: 15px;
        }
        .sep {
          border: none;
          height: 0.6px;
          background-color: #fff;
        }

        .content {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }
    }

    &.rasa-popup {
      .map-container {
        .place-container {
          position: absolute;
          bottom: 10px;
          .place {
            text-align: left;
            .sep {
              display: none;
            }
            .address-title {
              margin: 3px 0px;
            }
          }
        }
      }
    }

    &.rasa-bottom {
      .map-container {
        .place-container {
          .place {
            text-align: center;
          }
        }
      }
    }

    &.rasa-right {
      .map-container {
        .place-container {
          position: absolute;
          bottom: 0px;
          right: 0px;
          .place {
            flex-direction: column;
            text-align: center;
            width: 87.16px;
            height: auto;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            img {
              width: 100%;
              height: auto;
              max-width: 100% !important;
            }

            .place-title,
            .place-subtitle,
            .address-title,
            .address {
              font-size: 8px;
              line-height: 12px;
            }

            .address-title {
              margin: 3px 0px;
            }
          }
        }
      }
    }

    &.rasa-overlay {
      .map-container {
        .place-container {
          position: absolute;
          bottom: 0px;
          .place {
            background: linear-gradient(
              358.01deg,
              #4abdda 22.83%,
              rgba(109, 221, 165, 0) 83.03%
            );
            filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
            width: 285px;
            padding-top: 190px;
            text-align: left;
            bottom: 0px;
            left: 0px;
            margin-top: 0px;
            .address-title {
              margin: 3px 0px;
            }
          }
        }
      }
    }

    .share-container {
      position: absolute;
      right: -40px;
      bottom: 30px;
    }
  }
}
