:root {
  --rasa-green: linear-gradient(270deg, #6ddda5 -14.81%, #4abdda 100%);
  --rasa-blue: linear-gradient(270deg, #434fc7 -14.81%, #6fcee0 100%);
  --rasa-yellow: linear-gradient(270.04deg, #fac521 7.51%, #f9a21d 91.69%);
  --rasa-buttons-bg: linear-gradient(0deg, #b4e568 -3.57%, #44aa61 96.3%);
  --rasa-secondary-buttons-bg: linear-gradient(
    270deg,
    #4abdda -16.64%,
    #6ddda5 149.79%
  );
  --rasa-thirdly-bg: linear-gradient(89.2deg, #44aa61 0.54%, #b4e568 99.31%);
  --rasa-footer-bg: #44aa6147;
  --rasa-black: #3b3b3c;
  --font-family: Prompt;
  --rasa-white: #fff;
  --rasa-lighter-white: #f0f0f0;
}

.custom-rasa-widget-container {
  max-width: 315px;
}

@mixin defaultBoxStyle {
  padding: 15px 12px 10px;
  text-align: center;
  & > .title {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin button {
  cursor: pointer;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  transition: all 0.5s ease-in-out;
  &:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
  }
}

@mixin yellowButton {
  background: var(--rasa-yellow);
  @include button;
}

@mixin blueButton {
  background: var(--rasa-blue);
  @include button;
}

@mixin greenButton {
  background: var(--rasa-green);
  @include button;
  span {
    color: #fff;
  }
}

@mixin customChatBox {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  min-width: 165px;
  &.rasa-green {
    background: var(--rasa-green);
  }

  &.rasa-blue {
    background: var(--rasa-blue);
  }
}

.rasa-custom-chat-box {
  @include customChatBox;
}

.rasa-default-button {
  background: #f9f9f9;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
  border-radius: 70px;
  min-height: 38.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  min-width: 96.67px;
  padding: 5px 15px;
  border: none;
  outline: 0;
  cursor: pointer;
  span {
    font-weight: 500;
    font-size: 14px;
    // line-height: 24px;
    color: var(--rasa-black);
    font-weight: bold;
  }
  &:hover {
    background: rgb(202, 201, 201);
  }
}

.rasa-share {
  width: 30px;
  height: 30px;
  background: var(--rasa-secondary-buttons-bg);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    width: 14.15px;
    height: 15.41px;
  }
}

.rasa-download {
  width: 30px;
  height: 30px;
  background: var(--rasa-secondary-buttons-bg);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    width: 14.15px;
    height: 15.41px;
  }
}

.rasa-share-location-bottom {
  position: absolute;
  bottom: 30px;
  right: 0px;
  margin-right: -40px;
}

.rasa-share-location-middle {
  position: absolute;
  bottom: 50%;
  right: 0px;
  margin-right: -40px;
}

.rasa-share-location-top {
  position: absolute;
  top: 80px;
  right: 0px;
  margin-right: -40px;
}

.rasa-download-location-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: -40px;
}

.rasa-download-location-middle {
  position: absolute;
  bottom: 50%;
  right: 0px;
  margin-right: -40px;
}

.rasa-download-location-top {
  position: absolute;
  top: 30px;
  right: 0px;
  margin-right: -40px;
}
