.custom-rasa-widget-container {
  .rasa-rate-widget {
    @include defaultBoxStyle;
    padding-right: 16px;
    padding-left: 16px;
    min-width: auto;
    .rate {
      margin-bottom: 18px;
      .star-ratings {
        display: flex !important;
        gap: 5px !important;
        .star-container {
          padding: 0px !important;
          .widget-svg {
            width: 20px !important;
            height: 21px !important;
          }
        }
      }
    }
    .submit {
      text-align: left;
      margin-bottom: 10px;
      .submit-button {
        @include yellowButton;
      }
    }
  }
}
