.custom-rasa-widget-container {
  .rasa-return-widget {
    @include defaultBoxStyle;
    padding-right: 16px;
    padding-left: 16px;
    min-width: 287.18px;
    .button-container {
      display: flex;
      gap: 9.8px;
      .return-button {
        .rasa-button {
          background: var(--rasa-yellow);
        }
      }
    }
  }
}

.custom-rasa-widget-container {
  .rasa-return-confirm-widget {
    @include defaultBoxStyle;
    padding-right: 16px;
    padding-left: 16px;
    min-width: auto;
    max-width: 165.32px;
    margin-top: 32px;
    .button-container {
      display: flex;
      gap: 9.8px;
      align-items: center;
      justify-content: center;
      .return-button {
        .rasa-button {
          background: var(--rasa-yellow);
        }
      }
    }
  }
}
